/*	==========================================================================
		ARTICLE PAGE
	==========================================================================	*/

.content-article,
.sidebar {
	float: left;
	background: #fff;

	.admin-bar & {
		padding-top: 32px;
	}

	&:before{
		content: '';
		display: none;
		width: 1px;
		height: 100%;
		background: #ede8e8;
		position: fixed;
		top: 0;

		.overlap-active & {
			display: block;
		}
	}
}

.content-article {
	width: calc(100% - #{$sidebarWidth});
	background: #fff;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar:vertical {
		width: 11px;
	}

	&::-webkit-scrollbar:horizontal {
		height: 11px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 2px solid white; /* should match background, can't be transparent */
		background-color: rgba(0, 0, 0, .5);
	}

	&::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 8px;
	}

	.entry-content {
		width: 660px;
		padding: 0 20px 50px;
		max-width: 100%;
		max-height: none;
		margin: 0 auto;
		&.no-banner {
			padding-top: 0;

			@include cols-1 {
				.article-title {
					margin-left: 60px;
					padding-top: 30px;
					padding-bottom: 20px;
				}
			}
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	strong {
		font-weight: bold;
	}
}
.sidebar {
	width: $sidebarWidth;
}

.banner {
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

/* Modifying layout on Bio page to accommodate Slideshow */
.bio,
.twitter-chat {
	width: 65%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.banner {
		display: none;
	}

	.entry-content {
		width: auto;
		padding: 0 10% 7%;
	}
}

.twitter-chat,
.tour-stats {
	.iframe-wrapper {
		height: 100%;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
	}

	.article-header {
		display: none;
	}

	.entry-content {
		height: 100%;
		padding: 0;
	}

	iframe {
		display: block;
		//  !important needed to override iframe inline width/height
		width: 100% !important;
		height: 100% !important;
	}
}

.tour-stats {
	width: 100%;
	height: 100%;

	.entry-content {
		width: 100%;
	}

	// p ,
	// .iframe-wrapper,
	// iframe {
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	padding: 0;
	// 	margin: 0;
	// }
}

@include cols-3 {
	.content-article {
		width: 50%;

		.entry-content {
			padding: 0 5% 7%;
		}
	}

	.bio,
	.twitter-chat {
		width: 65%;
	}

	.twitter-chat,
	.tour-stats {
		.entry-content {
			padding: 0;
		}
	}

	.tour-stats {
		width: 100%;
	}

	.sidebar {
		width: 50%;
	}
}

@include cols-2 {
	.content-article,
	.sidebar {
		float: none;
		width: 100%;

		.admin-bar & {
			padding-top: 46px;
		}
	}

	.bio,
	.twitter-chat {
		width: auto;
		padding: 0;
		margin: 0;
	}

	.bio {
		height: auto;

		.banner {
			display: block;
		}

		.entry-content {
			padding: 0 5% 7%;
		}
	}
}

.type-ms_partner .entry-title {
	@include tablet {
		line-height: 14px;
	}
}
.type-ms_partner .entry-icon {
	padding-top: 0;
}

@include cols-1 {
	.content-article {
		.entry-content {
			padding-top: 80px;
		}

		.bio & .entry-content,
		.banner + .entry-content {
			padding-top: 0;
		}
	}

	.sidebar {
		padding-bottom: 7%;
	}

	.twitter-chat,
	.tour-stats {
		padding: 0 0 0 65px;
	}

	.tour-stats {
		.entry-content {
			padding: 0;
		}

		+ .top {
			display: none;
		}
	}
}
