$button-size : 3.5em; 
$transition : 1s; // increase this to see the transformations in slow-motion
$color : #000;
$line-height : 3px;

@mixin line {
	display: inline-block;
	width: $button-size;
	// height: $button-size/14;
	height: $line-height;
	background: $color;
	transition: $transition;
}

.lines-button {
	display: inline-block;
	transition: .3s;
	cursor: pointer;
	user-select: none;

	// Changing default outline
	&:focus {
		outline: 0;
	}

	// Replacing it with our own
	// &:focus,
	&:hover {
		opacity: .5;
	}

	// removing Firefox's silly dotted outline
	&::-moz-focus-inner {
		border: none;
	}
}

.lines {
	// create middle line
	@include line;
	position: relative;

	/*create the upper and lower lines as pseudo-elements of the middle line*/
	&:before, &:after {
		@include line;
		position: absolute;
		left:0;
		content: '';
		@include transform-origin(#{$button-size}/14 center);
	}

	&:before { top: $button-size/4; }
	&:after { top: -$button-size/4; }
}

.close {
	@extend .lines-button;

	.lines{
		/*hide the middle line*/
		background: transparent;

		/*overlay the lines by setting both their top values to 0*/
		&:before, &:after{
			// height: $button-size/14;
			@include transform-origin(50% 50%);
			top:0;
			width: $button-size;
		}

		// rotate the lines to form the x shape
		&:before{
			@include rotate(405deg); 
		}
		&:after{
			@include rotate(-405deg); 
		}
	}
}