/*	==========================================================================
		GENERIC CONTENT
	==========================================================================	*/
.entry-content {
	p {
		margin: 10px 0 0;
		line-height: 1.35;
	}

	blockquote {
		margin: 35px 0 30px 20px;
		padding-left: 23px;
		font-weight: lighter;
		font-size: 24px;
		line-height: 34px;
		position: relative;

		&:before {
			content: '';
			display: block;
			border-left: 3px solid #aea7bc;
			height: calc(100% - 14px);
			position: absolute;
			left: 0;
			top: 8px;
		}
	}
}

.iframe-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}

.article-title {
	padding-top: 42px;
	font-weight: bold;
	font-size: 40px;
	line-height: 44px;
}

.article-date {
	display: block;
	margin-top: 12px;
	color: #959492;
	text-transform: uppercase;
}

// .article-header + p {
// 	font-size: 24px;
// 	line-height: 34px;
// 	color: #000;
// 	margin: 32px 0 10px;
// }
