/* ==========================================================================
    Fonts
   ========================================================================== */
@font-face{
    font-family:"Proxima Nova";
    src:url("../fonts/proxima-nova-light.eot?#iefix");
    src:url("../fonts/proxima-nova-light.eot?#iefix") format("eot"),
        url("../fonts/proxima-nova-light.svg#proxima-nova.eot") format("svg"),
        url("../fonts/proxima-nova-light.woff") format("woff"),
        url("../fonts/proxima-nova-light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}
@font-face{
    font-family:"Proxima Nova";
    src:url("../fonts/proxima-nova.eot?#iefix");
    src:url("../fonts/proxima-nova.eot?#iefix") format("eot"),
        url("../fonts/proxima-nova.svg#proxima-nova.eot") format("svg"),
        url("../fonts/proxima-nova.woff") format("woff"),
        url("../fonts/proxima-nova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Proxima Nova";
    src:url("../fonts/proxima-nova-bold.eot?#iefix");
    src:url("../fonts/proxima-nova-bold.eot?#iefix") format("eot"),
        url("../fonts/proxima-nova-bold.svg#proxima-nova-bold.eot") format("svg"),
        url("../fonts/proxima-nova-bold.woff") format("woff"),
        url("../fonts/proxima-nova-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
