/*	==========================================================================
		FULL BANNER
	==========================================================================	*/

.full-banner {
	background: #000;
	height: 470px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.full-banner-image {
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	z-index: 1;
	@include transform(translate(-50%, -50%));
}
.full-banner-text {
	left: 50%;
	max-width: 45%;
	position: absolute;
	top: 50%;
	z-index: 2;
	@include transform(translate(0%, -50%));
}
.full-banner-heading {
	color: #9ed5fc;
	font-size: 72px;
	font-size: 3.6vw;
	line-height: 72px;
	line-height: 3.6vw;
	text-transform: uppercase;
}

.full-banner-subheading {
	font-size: 50px;
	font-size: 3vw;
	line-height: 50px;
	line-height: 3vw;
	max-width: 80%;
}

@include desktop {

	.full-banner-image {
		@include transform(translate(-45%, -50%));
	}

}

@include tablet {

	.full-banner-image {
		@include transform(translate(-40%, -50%));
	}

}

@include tablet-portrait {

	.full-banner-text {
		bottom: 10%;
		left: 10%;
		max-width: 80%;
		top: auto;
		z-index: 2;
		@include transform(translate(0%, 0%));
	}
	.full-banner-heading {
		font-size: 40px;
		font-size: 5vw;
		line-height: 40px;
		line-height: 5.2vw;
	}

	.full-banner-subheading {
		font-size: 34px;
		font-size: 4.5vw;
		line-height: 34px;
		line-height: 4.5vw;
		max-width: 80%;
	}

	.full-banner-image {
		@include transform(translate(-33%, -50%));
	}
}

@include mobile {

	.full-banner {
		height: 370px;
	}
	.full-banner-heading {
		font-size: 35px;
		line-height: 37px;
	}

	.full-banner-subheading {
		font-size: 24px;
		line-height: 24px;
		max-width: 100%;
	}
}