/*	==========================================================================
		PHOTO GALLERY
	==========================================================================	*/

.content-gallery {
	@extend .content-article;
	width: 100%;

	&:before{
		content: '';
		display: none;
		width: 1px;
		height: 100%;
		background: #ede8e8;
		position: fixed;
		top: 0;
	}

	.entry-content {
		width: auto;
		padding: 0;
	}

	.article-header {
		display: none;
	}
}

.gallery-photos {
	@extend .grid;
	a {
		// killed white overlay from extended grid (June 19, 2014 - Jean & Efrain)
		opacity: 1 !important;
	}
}

.gallery-photo {
	@extend .grid-item;
	border-color: #EDE8E8;
	background: none;
}

.gallery-full {
	height: 100%;
	position: relative
}

.gallery-controls {
    .img-next,
    .img-prev {
		display: block;
		height: 100%;
		width: 50%;
		border: 0;
		padding: 0;
		text-indent: -9999px;
		background: none;
		position: absolute;
		top: 0;
		z-index: 1;
		cursor: pointer;
		
		&::-moz-focus-inner {
			border: none;
		}
		
		&:before,
		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 4px;
			background: #000;
			position: absolute;
			top: 50%;
		}

		&:after {
			margin-top: -2px;
		}
	}

	.img-prev {
		left: 0;

		&:before,
		&:after {
			left: 30px;
			@include apply-origin(left center, false);
		}
		&:before {
			@include rotate(-45deg);
		}
		&:after {
			@include rotate(45deg);
		}
	}

	.img-next {
		right: 0;

		&:before,
		&:after {
			right: 30px;
			@include apply-origin(right center, false);
		}
		&:before {
			@include rotate(45deg);
		}
		&:after {
			@include rotate(-45deg);
		}
    }
}
