/*	==========================================================================
		GLOBAL
	==========================================================================	*/

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.touch {
	*,*:before,*:after {
		@include transition(none !important);
	}
}

html,
button,
input,
select,
textarea {
	font-family: 'Proxima Nova', Arial, sans-serif;
}

html,
body {
	height: 100%;
}

html {
	background: #fff;
}

body {
	font: 16px/28px 'Proxima Nova', Arial, sans-serif;
	color: $bodyCopyColor;
	overflow-x: hidden;

	&.overlap-active {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	color: $linkColor;
	@include single-transition(color, $transitionSpeed);

	&:hover {
		color: $bodyCopyColor;
	}
}


// FIXES BLACK BORDER ISSUE ON GALLERY PAGES

.gallery-photo {
	> a.entry-thumbnail {
		background-color: #fff !important;
		img {
			background-color: #fff !important;
		}
	}
}

.site-header {
	width: $siteHeaderWidth;
	height: 100%;
	border-right: 1px solid #eee;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 4; // needs to be 1 more than .site-navigation
	@include translateZ(0);
}

.content {
	margin-left: $siteHeaderWidth;
	height: 100%;
	// Shift content when menu is open
	// @include single-transition(margin-left, .275s, ease-in-out);

	// .nav-open & {
	// 	margin-left: $siteHeaderWidth * 2;
	// }
}

.content-main {
	display: block;
	height: 100%;

	.overlap-active & {
		overflow: hidden;
	}
}

.entry-icon,
.entry-date {
	padding-top: 12px;
	margin: 0 auto;
}

.entry-date {
	width: 70px;
	height: 70px;
	border: 1px solid $homeCopy;
	@include border-radius(50%);
}

.entry-month {
	font-size: 10px;
	line-height: 19px;
	text-transform: uppercase;
}

.entry-day {
	font-weight: bold;
	font-size: 24px;
	line-height: 19px;
}

.entry-category {
	margin-top: 14px;
	margin-bottom: 39px;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	// color: #c2c2c2;
	text-transform: uppercase;

	span {
		display: block;
		font-weight: normal;
		font-size: 12px;
		text-transform: none;
	}
}

.entry-title {
	margin: 0 auto;
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	max-height: 90px;
	overflow: hidden;
}

.button-container {
	width: 100%;
	font-size: 0;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -50px;
	@include single-transition(bottom, $transitionSpeed);
}

.read-more {
	display: inline-block;
	border: 1px solid $homeCopy;
	padding: 0 20px;
	font-size: 14px;
	line-height: 40px;
	@include single-transition(opacity, $transitionSpeed);
}

.site-footer {
	@include translateZ(0);
	width: $siteHeaderWidth;
	font-size: 12px;
	line-height: 1;
	color: #aea7bc;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 4;
}

.lightmaker {
	display: block;
	line-height: 1;
	color: #000;
	padding: 20px 0;
	position: relative;
	&:before {
		content: '';
		display: block;
		width: 100px;
		height: 0;
		border-top: 1px solid #eee;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -50px;
	}
	&:hover {
		color: #aea7bc;
	}
}



.link-maria-insta {

	@extend .icon-instagram;

	&:before {
		width: 50px;
		height: 50px;
		border: 1px solid #eee;
		border-radius: 50%;
		margin: 0 auto 7px;
		font-weight: normal;
		font-size: 20px;
		line-height: 50px;
		color: #2b2730;
		border: 1px solid #eee;
		border-radius: 50%; 
		padding-left: 4px;
	}
}

.instagram-logo {
	margin-bottom: 30px;
}

// This media query is to prevent content from running into 
// the buttons at the bottom of each post on the home page
@media only screen 
	and (max-width: 1270px) {

	.entry-category {
		margin-top: 3.3333%;
		margin-bottom: 7.7777%;
	}

	.entry-title {
		font-size: 20px; // fallback if browser doesn't support vw
		font-size: 2.0vw; // remember to update in other media queries
	}

	.entry-date {
		width: 16.6666%;
		height: 16.6666%;
		min-width: 60px;
		min-height: 60px;
		max-width: 70px;
		max-height: 70px;

		.posts .ps_twitter &,
		.posts .ps_twitter & {
			background-size: contain;
		}
	}
}

@include cols-1 {
	body {
		min-width: 320px;

		&.nav-open {
			overflow: hidden;
		}
	}

	.content {
		margin-left: 0;
	}

	.entry-title {
		font-size: 30px; // fallback if browser doesn't support vw
		font-size: 1; // remember to update in other media queries
	}

	.read-more {
		display: block;
		width: 87.5%;
		margin: 0 auto;
	}

	.site-footer {
		display: none;
	}

	.lightmaker {
		padding: 5% 0;
	}
}

// Start hiding elements if the viewport gets too short
@media (max-height: 600px) {
	.lightmaker {
		display: none;
	}
}

@media (max-height: 450px) {
	.site-footer {
		display: none;
	}
}


.ie9 {      
	.content-main {
		position: relative;
		z-index: 1;
	}
}


