/*	==========================================================================
		GRID
		Framework for responsive grid
	==========================================================================	*/

.grid {
	@include translateZ(0);
	margin: 0;
	padding: 0;
	list-style: none;
	color: $homeCopy;
	font-size: 0; // remove white-space between inline-block elements
	// text-indent: -9999px; // remove white-space between inline-block elements
	@extend .clearfix;

	.content-wrapper {
		display: block;
		padding: 0 30px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		@include single-transition(opacity, $transitionSpeed);

		// Spacer above entry-date
		&:before {
			content: '';
			display: block;
			height: 30px;
		}

		// Skrim
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: #503068;
			opacity: .8;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			@include single-transition(opacity, $transitionSpeed);
		}
	}

	a {
		color: $homeCopy;

		&:hover {
			opacity: .5;
			color: $homeCopy;
		}
	}

	.post-edit-link {
		font-size: 12px;
		position: absolute;
		bottom: 33px;
		right: 10px;
		z-index: 1;
	}

	.entry-content {
		// longer than 3 lines will break the layout
		max-height: 75px;
		overflow: hidden;
	}

	.entry-thumbnail {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../ajax-loader-white.gif) no-repeat center center #000;
		background: #000;

		img {
			display: block;
			height: 100%;
			width: auto;
			position: absolute;
			left: 50%;
			top: 0;
			// opacity: 0;
			@include translateX(-50%);
			@include transition(opacity .3s ease-in-out, transform 3s ease-in-out);
		}
	}

	// Class added to li when image is loading
	.loading {
		.entry-thumbnail img,
		.content-wrapper *{
			opacity: 0;
		}

		.throbber {
			display: block;
		}
	}

	// Hide lazy load imgs if .js is disabled
	.no-js & {
		.lazy {
			display: none;
		}
	}
}



.grid-item {
	display: inline-block; // using inline-block instead of float to prevent elements from getting stuck on featured post
	width: 14.2857%; // width for largest viewports
	vertical-align: top;
	border-right: 1px solid $homeCopy;
	border-bottom: 1px solid $homeCopy;
	// Chrome does not calculate height properly, and border
	// sometimes disappears. This hack appears to fix the issue.
	border-top: 1px solid $homeCopy;
	margin-top: -1px;
	// border-left: 1px solid $homeCopy;
	// margin-left: -1px;
	text-align: center;
	background: #000;
	overflow: hidden;
	position: relative;
	@include translateZ(0);

	// Trick to keep height same as width
	&:after {
		display: block;
		content: '';
		padding-bottom: 100%;
	}

	&:hover {
		@include gridHover;
	}

	&.hidden {
		width: 0;
		border: 0;
		opacity: 0;
	}

	@include cols-6 {
		width: 16.6666%
	}

	@include cols-5 {
		width: 20%
	}

	@include cols-4 {
		width: 25%
	}

	@include cols-3 {
		width: 33.3333%;
	}

	@include cols-2 {
		width: 50%;

		&:hover {
			.button-container,
			.read-more {
				bottom: 8%;
			}
		}
	}

	@include cols-1 {
		width: 100%;
		border-right: 0;
	}
}

// Touch devices should always see hover mode
.touch {
	.grid {
		@include translateZ(0);
	}

	.grid-item,
	.grid-item:hover {
		.button-container,
		.read-more {
			bottom: 8%;
		}

		.entry-thumbnail {
			img {
				@include transform( translateX(-50%) );
			}
		}

		.content-wrapper:after {
			opacity: .75;
		}
	}
}
