/*	==========================================================================
		HEADER
	==========================================================================	*/

// Site Logo
.site-logo {
	a {
		@extend .icon-logo-mariasharapova;
		display: block;
		height: 195px;
		overflow: hidden;
		font-weight: bold;
		font-size: 17px;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		// background: url(../images/logo.png) no-repeat center 30px;
		// Replaced logo bg w/ font
		position: relative;

		&:before {
			padding: 30px 0 5px;
			font-size: 100px;
			line-height: 100px;
			color: #000;
		}
	}

	&:after{
		content: '';
		display: block;
		width: 100px;
		margin: 0 auto;
		border-top: 1px solid #eee;
	}
}

.toggle-site-navigation {
	// Current menu button uses css transitions
	@extend .lines-button;
	width: 100%;
	border: 0;
	padding: 48px 0 40px;
	font-size: 10px;
	background: none;

	&:after {
		content: 'Menu';
		display: block;
		margin-top: 9px;
		font-size: 12px;
		line-height: 1;
		text-transform: uppercase;
	}

	span {
		@extend .lines;
		text-indent: -9999px;
	}

	// .no-js .site-header:hover &,
	.nav-open & {
		@extend .close;
		
		&:after {
			content: 'Close';
		}
	}

	// Previous menu button used icon font
	// @extend .icon-list;
	// display: block;
	// width: 100%;
	// margin: 0 auto;
	// border: 0;
	// padding: 30px 0;
	// font-size: 12px;
	// line-height: 1;
	// text-transform: uppercase;
	// background: 0;
	// cursor: pointer;

	// &:before {
	// 	display: block;
	// 	width: 30px;
	// 	margin: 0 auto;
	// 	font-size: 30px;
	// }
}

@include cols-1 {
	.site-header {
		width: $siteHeaderWidthMobile;
		height: 115px;
		border: 0;
	}

	.site-logo {
		&:after {
			display: none;
		}

		a {
			height: $siteHeaderWidthMobile;
			// background-image: url(../images/logo-small.png);
			// background-position: center bottom;
			// Replaced logo bg w/ font

			&:before {
				padding: 10px 0 0;
				font-size: 50px;
				line-height: $siteHeaderWidthMobile;
			}
		}
	}

	.toggle-site-navigation {
		@include translateZ(0);
		height: 50px;
		padding: 10px 0 0;

		&:after {
			display: none;
		}

		span {
			&,
			&:before,
			&:after {
				height: .4em;
			}

			&:before {
				top: .8em;
			}

			&:after {
				top: -.8em;
			}
		}
	}

	.nav-open {
		.site-header {
			height: 100%;
			background: #000;
		}

		.site-logo {
			a {
				&:before {
					color: #fff;
				}
			}
		}

		.toggle-site-navigation {
			span {
				&:before,
				&:after {
					background: #fff;
				}
			}
		}
	}
}

