@font-face {
	font-family: 'icomoon';
	src:url('../icons/icomoon.eot');
	src:url('../icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icons/icomoon.svg?v=5#icomoon') format('svg'),
		url('../icons/icomoon.woff?v=5') format('woff'),
		url('../icons/icomoon.ttf?v=5') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
.icon-facebook, .icon-twitter, .icon-googleplus, .icon-reply, .icon-retweet, .icon-star, .icon-star2, .icon-list, .icon-foundation, .icon-news, .icon-link, .icon-logo-mariasharapova, .icon-share, .icon-arrow, .icon-twitter-t, .icon-photos, .icon-videos, .icon-instagram, [class^="icon-"], [class*=" icon-"] {
	&:before {
		display: block;
		font-family: 'icomoon';
		content: attr(data-icon);
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

// Use the following CSS code if you want to have a class per icon
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-checkmark:before {
	content: "\e614";
}

.icon-cross:before {
	content: "\e612";
}

.icon-mail:before {
	content: "\e613";
}

.icon-videos:before {
	content: "\e60f";
}

.icon-photos:before {
	content: "\e610";
}

.icon-twitter-t:before {
	content: "\e60e";
}

.icon-icon-arrow:before {
	content: "\e60d";
}

.icon-share:before {
	content: "\e60c";
}

.icon-logo-mariasharapova:before {
	content: "\e60b";
}

.icon-link:before {
	content: "\e60a";
}

.icon-foundation:before {
	content: "\e608";
}

.icon-news:before {
	content: "\e609";
}

.icon-instagram:before {
	content: "\e611";
}

.icon-reply:before {
	content: "\e603";
}

.icon-star:before {
	content: "\e605";
}

.icon-star2:before {
	content: "\e606";
}

.icon-retweet:before {
	content: "\e604";
}

.icon-list:before {
	content: "\e607";
}

.icon-twitter:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e600";
}

.icon-googleplus:before {
	content: "\e602";
}
