/*	==========================================================================
		LATEST POSTS LISTING
	==========================================================================	*/

.sidebar-title {
	text-indent: 40px;
	font-size: 14px;
	line-height: 60px;
	text-transform: uppercase;
}
.latest-post {
	border-bottom: 1px solid #e3e2e0;
	overflow: hidden;
	position: relative;
	@include arrow(bottom-right, 15px, 15px, #aea7bc);

	&:first-child {
		border-top: 1px solid #e3e2e0;
	}

	&:after {
		margin: 0;
		position: absolute;
		right: 50%;
		bottom: 0;
	}
	
	.content-wrapper,
	.entry-thumbnail {
		width: 50%;
		float: left;
	}

	.content-wrapper {
		padding: 36px 40px 0;
	}

	.entry-title {
		display: block;
		font-size: 16px;
		line-height: 20px;
		color: #2b2730;
	}

	.entry-excerpt {
		margin-top: 18px;
		line-height: 24px;
		color: #959492;
	}

	.entry-thumbnail {
		position: relative;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

	}

	&.format-video {
		.entry-thumbnail {
			@include arrow(right, 28px, 24px, #fff);

			&:before,
			&:after {
				content: '';
				position:absolute;
				left: 50%;
				top: 50%;
				pointer-events: none;
			}
			&:before {
				height: 70px;
				width: 70px;
				border: 1px solid #fff;
				border-radius: 50%;
				margin: -35px 0 0 -35px;
				z-index: 1;
			}

			&:after {
				margin: -14px 0 0 -12px;
			}

			a {
				&:after {
					content: '';
					width: 100%;
					height: 100%;
					background: #000;
					opacity: .96;
					position: absolute;
					right: 0;
					top: 0;
					@include single-transition(opacity, $transitionSpeed);
				}
			}

			&:hover {
				a {
					&:after {
						opacity: .7;
					}
				}
			}
		}
	}
}

@include cols-3 {
	.latest-post {
		.content-wrapper {
			padding: 5% 5% 0;
		}
	}
}

@include cols-1 {
	.latest-post {
		.content-wrapper {
			padding: 4% 5% 0;
		}

		.entry-title,
		.entry-excerpt {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.entry-title {
			max-height: 40px;
		}

		.entry-excerpt {
			max-height: 48px;
		}
	}
}
