.modal {
    width: 100%;
    height: 100%;
    padding-left: 200px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
	display: none;

    .close {
		@extend .close-overlap;
		z-index: 2;
		background: #fff;

		&:after {
			content: 'Close';
		}
    }

    @include cols-1 {
    	padding-left: 0;
    }
}

.modal-content {
	height: 100%;

    img {
    	display: block;
    	width: auto;
    	max-width: 100%;
    	height: auto;
    	max-height: 100%;
    	position: relative;
    	top: 50%;
    	left: 50%;
    	@include transform( translate(-50%, -50%) );
    }
}
