/*	==========================================================================
		NAV
	==========================================================================	*/

.site-navigation {
	@include translateZ(0);
	width: $siteHeaderWidth;
	height: 100%;
	font-size: 1.4em;
	background: #fff;
	position: fixed;
	top: 0;
	left: -10px;
	z-index: 3; // needs to be 1 more than .isotope-item
	overflow-y: auto;
	@include single-box-shadow(#000, 0, 0, 3px);
	@include single-transition(left, .3s, ease-in-out);

	.admin-bar & {
		padding-top: 32px;
	}

	.no-js .site-header:hover + &,
	.no-js &:hover,
	.nav-open & {
		left: $siteHeaderWidth;
	}

	.menu {
		padding-top: 50px;
		text-align: center;

		&:before,
		&:after {
			content: '';
			display: block;
			width: 100px;
			height: 0;
			border-top: 1px solid #eee;
			margin: 0 auto;
		}

		&:before {
			margin-bottom: 30px;
		}

		&:after {
			margin-top: 30px;
		}
	}

	a {
		display: block;
		padding: 11px;
		font-size: 14px;
		line-height: 1.25;
		color: #2b2730;
		text-transform: uppercase;
		@include single-transition(color, $transitionSpeed);

		&:hover {
			color: #aea7bc;
		}
		
		.no-js &[data-filter] {
			display: none;
		}
	}

	.menu-item {
		&:first-child {
			a {
				font-weight: bold;
			}
		}
	}

	.active {
		a{
			color: #aea7bc;
		}
	}

	.inactive {
		display: none;
	}

	.divider {
		margin: 10px 0;

		&:after {
		    content: '';
		    display: block;
		    height: 0;
		    width: 100px;
		    border-top: 1px solid #EEEEEE;
		    margin: 0 auto;
		}

		a {
			display: none;
		}
	}

	@include cols-1 {
		display: none;
		width: 100%;
		left: 0;

		.nav-open &{
			display: block;
			left: 0;
		}

		.menu {
			padding: 10px 0 0 $siteHeaderWidthMobile;
			text-align: left;

			&:before,
			&:after {
				display: none;
			}
		}

		a {
			padding: 10px 10px 10px 30px;
			font-size: 20px;

		}
	}
}

.nav-below {
	display: none;
}

.newsletter-nav {
	display: none;
	@include tablet {
		display: block;
	}
}
