.news-checkbox {
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50px;
	border: 1px solid #000;
}

.link-newsletter {
	&:before{
	 content: "\e613";
	 display: block;
	 color: #000;
	 font-family: icomoon;
	 font-size: 30px;
	}
}

.newsletter {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.newsletter-form {
	label {
		width: 80%;
		display: block;
		color: #000;
		font-weight: bold;
	}
	input {
		width: 80%;
		height: 35px;
		padding-left: 20px;
		background-color: #f2f2f2;
		border: transparent;
		font-size: 16px;
		@include tablet {
			width: 90%;
		}
		&:focus {
			background-color: #fff;
			color: #757575;
			font-size: 16px;
			border: 2px solid #e4e4e4;
		}
	}
	button {
		background-color: #fff;
		color: #000;
		font-weight: bold;
		font-size: 18px;
		padding: 10px 0;
		width: 80%;
		display: block;
		border: 2px solid #e4e4e4;
		@include tablet {
			width: 90%;
		}
	}
	.firstname-input {
		margin-bottom: 15px;
	}
	input:required:valid {
		border: 1px solid #1da217;
	}
	input:invalid {
		border: 1px solid #e34428;
	}
	.wrong:after{
			content: "\e612";
			color: #e34428;
			font-family: icomoon;
			margin-left: 8px;
	}
	.right:after{
			content: "\e614";
			color: #1da217;
			font-family: icomoon;
			margin-left: 8px;
	}
}