/*	==========================================================================
		PAGE OVERLAP CONTAINER
	==========================================================================	*/

.overlap {
	width: 100%;
	height: 100%;
	padding-left: $siteHeaderWidth;
	background: url(/ajax-loader-black.gif) no-repeat center center #fff;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	left: -9999px;
	top: 120%;
	top: calc(100% + 100px);
	z-index: 5; // needs to be equal to or higher than .site-footer
	@include single-transition(top, $transitionSpeed);

	&.active {
		left: 0;
		top: 0%;
	}

	.throbber {
		display: block;
	    z-index: -1;

		li {
			background: #000;
		}

		.ie &{
			background-image: url(../images/ajax-loader-black.gif);
		}
	}
}

.overlap-content {
	background: #fff;
	height: 100%;
	overflow: auto;
}

.close-overlap,
.toggle-share {
	z-index: 6;
	display: none;
	.active + & {
		display: block;
	}
}

.close-overlap {
	@extend %back-button;
}

.toggle-share {
	@extend .icon-share;
	display: block;
	width: 100px;
	height: 40px;
	margin: 0 auto;
	border: 2px solid #dbdad8;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	color: #2b2730;
	text-align: center;
	text-transform: uppercase;
	background: none;
	cursor: pointer;
	position: absolute;
	top: 210px;
	left: 50px;
	@include single-transition(top, $transitionSpeed);

	&:before {
		@extend .icon-share:before;
		display: none;
	}

	&:hover {
		opacity: .5;
	}

	.share-open & {
		top: 220px;
	}
}

.top {
	@extend .icon-arrow;
	display: none;
	width: 100%;
	border: 0;
	padding: 70px 0 20px;
	font-weight: bold;
	color: #aea7bc;
	text-transform: uppercase;
	background: #fff;
	position: relative;
	cursor: pointer;

	&:before {
		// content: '\2191';
		display: block;
		width: 60px;
		height: 60px;
		border: 1px solid #dad8d8;
		border-radius: 50%;
		text-align: center;
		// font: bold 34px/60px monospace, sans-serif;
		font-size: 34px;
		line-height: 60px;
		color: #2b2730;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -30px;
		@include rotate(180deg);
	}
}

@include cols-1 {
	.overlap {
		padding: 0;
		min-width: 320px;
	}

	.close-overlap,
	.toggle-share {
		width: 65px;
		background: #fff;

		span {
			&:before,
			&:after {
				left: 0.5em;
				height: .35em;
				width: 2.5em;
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	.close-overlap {
		height: 65px;
		padding: 0;
		display: none;

		.active + & {
			display: block;
		}

		&:before {
			width: 46px;
			margin-left: -23px;
			z-index: 1;
		}
	}

	.toggle-share {
		height: 60px;
		border: 0;
		font-size: 0;
		color: #fff;
		top: 65px;
		left: 0;

		&:before {
			display: block;
			font-size: 32px;
			color: #000;
		}

		.share-open & {
			top: 200px;
		}
	}

	.admin-bar {
		.close-overlap {
			top: 46px;
		}

		.toggle-share {
			top: 106px;
		}

		.share-open {
			.toggle-share {
				top: 246px;
			}
		}
	}

	.top {
		display: block;
	}
}
