/*	==========================================================================
		PHOTO GALLERY
	==========================================================================	*/

.content-gallery {
	@extend .content-article;
	width: 100%;

	&:before{
		content: '';
		display: none;
		width: 1px;
		height: 100%;
		background: #ede8e8;
		position: fixed;
		top: 0;
	}
}

.gallery-photos {
	margin: 0;
	padding: 0;
	list-style: none;
	color: $homeCopy;
	font-size: 0; // remove white-space between inline-block elements
	// text-indent: -9999px; // remove white-space between inline-block elements
	@extend .clearfix;

	.entry-thumbnail {
		display: inline-block; // using inline-block instead of float to prevent elements from getting stuck on featured post
		width: 14.2857%; // width for largest viewports
		vertical-align: top;
		border-right: 1px solid $homeCopy;
		border-bottom: 1px solid $homeCopy;
		// Chrome does not calculate height properly, and border
		// sometimes disappears. This hack appears to fix the issue.
		border-top: 1px solid $homeCopy;
		margin-top: -1px;
		// border-left: 1px solid $homeCopy;
		// margin-left: -1px;
		text-align: center;
		background: #000;
		overflow: hidden;
		position: relative;

		// Trick to keep height same as width
		&:after {
			display: block;
			content: '';
			padding-bottom: 100%;
		}

		&:hover {
			.entry-thumbnail {
				img {
					@include transform( scale(1.1, 1.1) );
				}
			}
		}

		a,
		img {
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		a {
			background: url(../ajax-loader-black.gif) no-repeat center center #000;
		}

		img {
			@include transition( transform 3s ease-in-out );
		}

		@include cols-6 {
			width: 16.6666%
		}

		@include cols-5 {
			width: 20%
		}

		@include cols-4 {
			width: 25%
		}

		@include cols-3 {
			width: 33.3333%;
		}

		@include cols-2 {
			width: 50%;
		}

		@include cols-1 {
			width: 100%;
			border-right: 0;
		}
	}
}