/*	==========================================================================
		POSTS LISTING
	==========================================================================	*/

.posts {
	@extend .grid;

	#infscr-loading, // Infinite Scroll Loading element
	.hentry {
		@extend .grid-item;
	}

	// Infinite Scroll Loading element
	#infscr-loading {
		opacity: 0;
		position: relative;
		@include transition(none);

		img {
			display: none;
			// Switching to css loader
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// @include translate(-50%, -50%);
		}

		div {
			width: 100%;
			height: 100%;
			font-size: 12px;
			color: #fff;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 999;
		}

		.throbber {
			display: block;
		}
	}

	.hentry {
		@extend .icon-news;
		@include single-transition(all, $transitionSpeed);

		&:before {
			width: 22px;
			height: 22px;
			font-size: 22px;
			position: absolute;
			bottom: 30px;
			left: 50%;
			z-index: 1;
			@include translateX(-50%);
			@include single-transition(bottom, $transitionSpeed);
		}

		&:hover {
			&:before,
			.social-icons {
				bottom: 20%;
			}
		}
	}

	.ms_featured {
		vertical-align: bottom; // setting bottom to prevent 1px white gap due to inconsistently calculated  height

		&:after {
			padding-bottom: 50%;
		}

		&:hover {
			.content-wrapper {
				&:after {
					opacity: .5;
				}
			}
		}

		.content-wrapper {
			&:after {
				background-color: #000;
				opacity: .55;
			}
		}

		.entry-thumbnail {
			img {
				opacity: 1;
			}
		}

		.entry-date {
			visibility: hidden;
		}

		.entry-title {
			width: 75%;
			font-size: 40px;
			line-height: 44px;
			max-height: 88px;
			overflow: hidden;
		}

		width: 28.5714%;

		@include cols-6 {
			width: 33.3333%
		}

		@include cols-5 {
			width: 40%
		}

		@include cols-4 {
			width: 50%
		}

		@include cols-3 {
			width: 66.66666%;
		}

		@include cols-2 {
			width: 100%
		}

		@include cols-1 {
			&:after {
				padding-bottom: 100%;
			}
		}
	}

	// Removing skrim as these custom post types do not have a bg image
	.ms_hangout,
	.ms_twitter_chat,
	.ms_schedule,
	.ps_twitter,
	.ms_store,
	.ms_ad {
		.content-wrapper:after {
			background: none;
		}
	}

	// Removing icon as these custom post types do not use them
	.ps_twitter,
	.ms_store,
	.ms_ad {
		&:before {
			display: none;
		}
	}
	.ms_store {
		background: #fff;
	}

	// Hiding dates as these custom post types show an icon instead
	.ms_hangout,
	.ms_twitter_chat,
	.ms_schedule,
	.ps_twitter,
	.ps_instagram,
	.ps_facebook {
		.entry-month,
		.entry-day {
			display: none;
		}
	}

	.ms_twitter_chat,
	.ms_hangout {
		background: #df4a32;

		.entry-date{
			height: 74px;
			width: 64px;
			border: 0;
			border-radius: 0;
		}
	}

	.ms_twitter_chat {
		@extend .icon-twitter-t;

		.entry-date {
			@extend .icon-twitter;
			font-size: 60px;
		}
	}

	.ms_hangout {
		@extend .icon-googleplus;

		.entry-date {
			background: url(../icons/icon-hangout.png) no-repeat center center;
		}
	}
	.ps_instagram,
	.ps_twitter,
	.ps_facebook {

		.entry-category{
			margin-bottom: 25px;
			text-transform: none;
		}

		.entry-content{
			font-size: 16px;
			line-height: 24px;

			a{
				font-weight: bold;
			}
		}
	}

	.ps_twitter {
		background: #30c1f8;

		.entry-date {
			background: url(../icons/icon-maria-twitter.jpg) no-repeat;
		}
	}

	.social-icons {
		width: 100%;
		font-size: 0;
		position: absolute;
		left: 0;
		bottom: 30px;
		@include transition-property(bottom);
		@include transition-duration($transitionSpeed);

		a {
			display: inline-block;
			vertical-align: middle;
			width: 22px;
			height: 22px;
			margin-left: 20px;
			// color: #afafaf;
			text-indent: -9999px;
			position: relative;
			@include transition-property(opacity);

			&:before {
				font-weight: normal;
				font-size: 22px;
				text-indent: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				// color: #666;
				// opacity: 1;
			}
		}

		.reply {
			@extend .icon-reply;
		}

		.retweet {
			@extend .icon-retweet;
		}

		.favorite {
			@extend .icon-star2;
		}
	}

	// Facebook post type
	.ps_facebook {
		background: #3b5999;
		@extend .icon-facebook;

		.entry-date {
			background: url(../icons/icon-maria-facebook.jpg) no-repeat;
		}

		.content-wrapper{
			&:after {
				background-color: #6dcff6;
			}
		}

		.entry-category{
			text-transform: none;
		}
	}
	// Instagram post type
	.ps_instagram {
		background: #517fa4;
		@extend .icon-instagram;

		.entry-date {
			background: url(../icons/icon-maria-instagram.jpg) no-repeat;
		}

		.content-wrapper{
			&:after {
				background-color: #517fa4;
			}
		}

		.entry-category{
			text-transform: none;
		}
	}

	// Schedule post type
	.ms_schedule {
		background: #7dc818;
		font-size: 16px;
		line-height: 20px;
		@extend .icon-link;

		.entry-icon {
			padding-top: 0;
		}

		.entry-category{
			margin: 4px 0 30px;
			font-weight: bold;
			text-transform: none;
		}
		.entry-location {

		}

		.entry-event-date {
			margin-top: 17px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.category-news,
	.category-foundation {
		.entry-date {
			visibility: hidden;
		}
	}

	// Foundation category
	.category-foundation {
		@extend .icon-foundation;
	}

	// Video format
	.format-video {
		@extend .icon-videos;

		.entry-date {
			visibility: hidden;
		}
	}

	// Gallery format
	.format-gallery {
		@extend .icon-photos;

		.entry-date {
			visibility: hidden;
		}
	}

	// Ad & Store post types
	.ms_store,
	.ms_ad {
		.entry-thumbnail {
			img {
				left: 0;
				@include transform( none );
			}
		}

		&:hover {
			.entry-thumbnail {
				img {
					@include transform( none );
				}
			}
		}

		a {
			display: block;

			&:hover {
				opacity: 1;
			}
		}
	}

	// Touch devices should always see hover mode
	.touch & {
		.hentry,
		.hentry:hover {
			&:before,
			.social-icons {
				bottom: 26%;
			}
		}

		.ms_store,
		.ms_ad {
			background: blue;
			.entry-thumbnail {
				img {
					@include transform(none !important);
				}
			}
		}
	}

	// This media query is to prevent content from running into 
	// the buttons at the bottom of each post on the home page
	@media only screen and (max-width: 1350px) {
		.content-wrapper {
			&:before {
				height: 5.6%;
			}
		}

		.entry-title {
			max-height: 60px;
			overflow: hidden;
		}

		.entry-content {
			max-height: 50px;
			-webkit-text-size-adjust: none;
		}

		.hentry {
			&:hover {
				&:before,
				.social-icons {
					bottom: 80px;
				}

				.button-container,
				.read-more {
					bottom: 30px;
				}
			}
		}

		.ms_featured {
			.entry-category {
				margin-bottom: 3.3333%;
			}
			.entry-title {
				max-height: 60px;
				max-height: 4.4vw;
				font-size: 30px; // fallback if browser doesn't support vw
				line-height: 30px;
				font-size: 2.2vw; // remember to update in other media queries
				line-height: 2.2vw;
			}
		}

		.ms_schedule {
			.entry-category {
				margin: 0;
			}

			.entry-title {
				max-height: 56px;
				font-size: 20px;
				line-height: 1;
				overflow: hidden;
			}

			.entry-event-date {
				margin-top: 0;
			}
		}

		.ps_twitter,
		.ps_facebook {
			.entry-category {
				margin-bottom: 2%;
			}

			.entry-content {
				line-height: 20px;
				max-height: 40px;
			}
		}

		.ms_schedule,
		.ms_twitter_chat,
		.ms_hangout {
			.entry-date {
				height: 65px;
				background-size: contain;
			}
		}

		.ms_twitter_chat {
			.entry-date {
				font-size: 50px;
			}
		}
	}

	@include cols-2 {
		.hentry {
			&:hover {
				&:before,
				.social-icons {
					bottom: 26%;
				}
			}
		}

		.ms_featured {
			.entry-title {
				max-height: 54px;
				max-height: 7vw;
				font-size: 27px;
				font-size: 3.5vw; // remember to update in other media queries
				line-height: 27px;
				line-height: 3.5vw;
			}
		}
	}

	@include cols-1 {
		.ms_featured {
			.entry-title {
				width: 90%;
				font-size: 30px;
				line-height: 1;
				max-height: 90px;
			}
		}
	}
}
