.share-buttons {
	width: $siteHeaderWidth;
	opacity: 0;
	font-size: 0;
	text-align: center;
	position: absolute;
	left: -9999px;
	top: 150px;
	z-index: 2;
	@include single-transition(opacity, $transitionSpeed);

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 10px solid #3b5999;
		position: absolute;
		bottom: -10px;
		left: 50%;
		margin-left: -9px;
	}

	.share-open > & {
		left: 0;
		opacity: 1;
	}
}

.sharrre {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 45px;
	text-align: center;
	cursor: pointer;

	&:before {
		font-size: 20px;
		line-height: 45px;
		color: #fff;
	}

	&.twitter {
		@extend .icon-twitter;
		background: #55acee;
	}

	&.facebook {
		@extend .icon-facebook;
		background: #3b5999;
	}

	&.googleplus {
		@extend .icon-googleplus;
		background: #df4a32;
	}
}

@include cols-1 {
	.share-buttons {
		display: none;
		width: auto;
		top: 65px;

		&:after {
			display: none;
		}

		.share-open & {
			display: block;
			left: 0;
		}

		.admin-bar & {
			top: 111px;
		}
	}

	.sharrre {
		display: block;
		width: 65px;
		overflow: hidden;
	}
}