/*	==========================================================================
		Slideshow
	==========================================================================	*/

.slideshow {
	@extend .flexslider;
	width: 35%;
	height: 100%;
	background: #a8b1b5;
	overflow: hidden;
	font-size: 0;
	white-space: nowrap;
	position: relative;

	&,
	.flex-viewport,
	.slides,
	.slide,
	img {
		height: 100%;
	}

	.slide {
		overflow: hidden;

		// &:after {
		// 	content: '';
		// 	float: left;
		// 	width: 200px;
		// 	height: 100%;
		// 	margin-left: -200px;
		// 	@include filter-gradient(rgba(168,177,181,0), rgba(168,177,181,1), horizontal);
		// 	$experimental-support-for-svg: true;
		// 	@include background-image(linear-gradient(left,  rgba(168,177,181,0) 0%,rgba(168,177,181,1) 100%));
		// 	position: relative;
		//
		// 	.ie9 & {
		// 		filter: none;
		//
		//
		// 	}
		// }

		img {
			float: left;
			width: auto;
		}
	}
	&.sidebar .slide img {
		left: 50%;
		position: relative;
		@include transform(translateX(-50%));
	}

	.flex-direction-nav {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		li {
			float: left;
			width: 50%;
			height: 100%;
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
			position: relative;

			&:before,
			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 4px;
				background: #fff;
				position: absolute;
				top: 50%;
			}

			&:after {
				margin-top: -2px;
			}
		}
	}

	.flex-prev {
		&:before,
		&:after {
			left: 30px;
			@include apply-origin(left center, false);
		}
		&:before {
			@include rotate(-45deg);
		}
		&:after {
			@include rotate(45deg);
		}
	}

	.flex-next {
		&:before,
		&:after {
			right: 30px;
			@include apply-origin(right center, false);
		}
		&:before {
			@include rotate(45deg);
		}
		&:after {
			@include rotate(-45deg);
		}
	}
}

@include cols-2 {
	.slideshow {
		width: 100%;
		height: 500px;
		padding: 10px 0 !important;
		position: relative;
	}
}
@include cols-1 {
	.slideshow {
		margin-bottom: 20px;

		.flex-direction-nav {
			a {
				&:before, &:after {
					width: 20px;
				}
			}
		}
	}
}
