/*	==========================================================================
		SOCIAL META INFO (FB Likes & Twitter Followers)
	==========================================================================	*/

.fb-like-count,
.twitter-follower-count {
	display: block;
	font-weight: bold;
	font-size: 18px;

	&:before {
		width: 50px;
		height: 50px;
		border: 1px solid #eee;
		border-radius: 50%;
		margin: 0 auto 7px;
		font-weight: normal;
		font-size: 20px;
		line-height: 50px;
		color: #2b2730;
	}

	&:after {
		display: block;
		font-weight: normal;
		font-size: 12px;
		text-transform: uppercase;
	}
}

.fb-like-count {
	@extend .icon-facebook;
	margin-bottom: 20px;

	&:after {
		content: 'Likes';
	}
}

.twitter-follower-count {
	@extend .icon-twitter;
	margin-bottom: 20px;

	&:after {
		content: 'Followers';
	}
}

@media (max-height: 830px) {
	.fb-like-count,
	.twitter-follower-count,
	.link-maria-insta {
	 margin-bottom: 15px;
	}
}

@media (max-height: 750px) {
	.fb-like-count,
	.twitter-follower-count,
	.link-maria-insta {
		&:before {
			display: none;
		}
	}
}
