/*	==========================================================================
		SPONSORS
	==========================================================================	*/

.sponsors-title {
	padding-top: 20px;
	padding-bottom: 0; 
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100px;
		height: 0;
		border-top: 1px solid #eee;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -50px;
	}
}

.slides .ms_sponsor {
	display: none;
	padding: 100px 0 0;
	height: 0;
	position: relative;

	&:first-child {
		display: block;
	}

	.entry-thumbnail{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}

	img {
		display: block;
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform( translate(-50%, -50%) );
	}
}

// Hide element if the viewport gets too short
@media (max-height: 550px) {
	.sponsors {
		display: none;
	}
}

.sponsor-post {
	.posts & {
		background: #fff;
		img {
			width: 101%;
		}
		&:before {
			display: none;
		}
	}
}