/*	==========================================================================
		STORE
	==========================================================================	*/

.store {
	width: 100%;
	position: relative;
	height: 100%;
	.entry-content {
		border-left: solid 1px $shopBorder;
		float: right;
		width: 20%;
		padding: 0;
	}

	.entry-date {
		visibility: hidden;
	}
	@include tablet {
		.entry-content {
			width: 100%;
		}
	}
}

.store {
	width: 100%;


		.store-items-only-entry-content {
			border-left: solid 1px $shopBorder;
			float: right;
			width: 100%;
			padding: 0;
		}

		.entry-date {
			visibility: hidden;
		}
		@include tablet {
			.entry-content {
				width: 100%;
			}
		}

		.store-items-only-entry-content  .store-product-item {
			@extend .grid-item;
			border-color: #EDE8E8;
			background: none;
			width: 20%;
			border-top: none;
			.content-wrapper {
				opacity: 1;
				@include single-transition(opacity, $transitionSpeed*2);

				&:after {
					// opacity: .75;
				}
			}
			&:hover {
				.content-wrapper {
					opacity: 1;
				}
			}
			@include tablet {
				&:nth-child(odd){
					border-right: solid 1px $shopBorder;
				}
				&:nth-child(even){
					border-left: solid 1px #fff;
				}
				width: 50%;
			}
			@include mobile {
				width: 100%;
				
				&:nth-child(odd),&:nth-child(even){
					border-right: none;
				}
				
			}
		}

}

.store-product-listing {
	@extend .grid;

	.entry-thumbnail {
		background: none;
	}

}

// .store-product-listing .store-product-item {
// 	width: 100%;
// }

.store-product-item {
	@extend .grid-item;
	border-color: #EDE8E8;
	background: none;
	width: 100%;
	.content-wrapper {
		opacity: 0;
		@include single-transition(opacity, $transitionSpeed*2);

		&:after {
			// opacity: .75;
		}
	}

	//&:hover {
		.content-wrapper {
			opacity: 1;
		}
	//}
	@include tablet {
		&:nth-child(odd){
			border-right: solid 1px $shopBorder;
		}
		&:nth-child(even){
			border-left: solid 1px #fff;
		}
	}
	@include mobile {
		&:nth-child(odd),&:nth-child(even){
			border-right: none;
		}
		width: 100%;

	}
}

.store-banner {
	height: 480px;
	overflow: hidden;
	position: relative;
	width: 100%;
	img {
		left: 50%;
		position: absolute;
		width: 100%;
		top: 50%;
		@include transform(translate(-50%, -50%));
	}
	@include desktop {
		height: auto;
		img {
			left: 0;
			position: static;
			width: 100%;
			top: 0;
			@include transform(translate(0, 0));
		}
	}
}

.store-logo {
	max-width: 50%;
	padding: 40px 40px 0 40px;
	img {
		max-width: 100%;
	}
	@include tablet {
		padding: 20px 20px 0 20px;
	}
	@include mobile {
		max-width: 80%;
	}

}


.partner-post {
	float: left;
	width: 100%;
	&.has-store {
		width: 80%;
		@include tablet {
			width: 100%;
		}
	}
	.article-title {
		padding-top: 0px;
		padding-left: 65px;
	}

	.store-list ~ & {
		width: 80%;
	}

	.article-header {
		padding: 20px 40px;
	}

	.wysiwyg {
		padding: 0 40px 20px 40px;
		> * {
			padding-bottom: 30px;
		}
		p:first-of-type, blockquote {
			font-size: 24px;
		}
		blockquote {
			border-left: solid 3px #2ab0ae;
			margin: 0 50px 40px 50px;
			max-width: 560px;
			padding: 0 0 0 20px;
		}
		ol, ul {
			list-style: initial;
			padding: 0 0 30px 40px;
		}
		li {
			padding-bottom: 10px;
		}
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 32px;
		}
		h3 {
			font-size: 28px;
		}
		h4 {
			font-size: 24px;
		}
		h5 {
			font-size: 20px;
		}
		h6 {
			font-size: 16px;
		}
	}

	@include tablet {
		width: 100%;
		.article-header {
			padding: 20px;
		}
		.wysiwyg {
			padding: 0 20px 20px 20px;
			blockquote {
				margin: 0 50px 40px 0;
			}
		}
	}

	@include mobile {
		.wysiwyg {
			blockquote {
				margin: 0 0 40px 0;
			}
		}

	}
	// &.dynamic-store div{
	// 	width: 25%;
	// 	display: inline-block;
	// 	img {
	// 		width: 80%;
	// 	}
	// }
}

// selected store

.selected-store {
	position: relative;
	&:before {
		content: "Selected Store";
		font-weight: bold;
  	font-size: 26px;
	  line-height: 30px;
		top: 50%;
		left: 50%;
		position: absolute;
		z-index: 20;
		@include transform(translate(-50%,-50%));
	}
	&:after {
		content: "";
		background-color: rgba(#503068, .55);
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
	@include tablet {
		display: none;
	}
}

.content .overlap, .content .store-list, .content .active {
	@include transform(translateZ(0));
	// -webkit-overflow-scrolling: touch;
	// overflow-y: scroll;
}

.close-store.store-button {
	@include mobile {
		display: block;
		z-index: 7;
	}
}

.store-list {
	-webkit-overflow-scrolling: touch;
	@include tablet {
		display: none;
		&.active {
			display: block;
			position: absolute;
			background-color: #fff;
			height: 100%;
		}
	}
}


.store-list .store-product-item {
	@include tablet {
		width: 50%;
	}
	@include mobile {
		width: 100%;
	}
	.entry-date {
			display: none;
	}
	.button-container {
		bottom: 8%;
		@include transition(none);
	}
}
.close-store {
	display: none;
	@extend %back-button;
	@include tablet {
		background-color: #fff;
		position: absolute;
		left: 0;
		@include transform(translateX(-100%));
		z-index: 5;
		top: 0;
		&:hover {
			opacity: 1;
		}
		&.store-button {
			display: block;
			z-index: 7;
			@include transform(none);
		}
	}
	@include tablet-portrait {
		&.store-button {
			height: 65px;
			padding: 0px;
			width: 65px;
			&:before {
				display: none;
			}
		}
	}
	@include mobile {
		position: fixed;
		width: 65px;
		top: 0px;
		padding: 0;
		height: 65px;
		@include transform(none);
	}
}

//  @media only screen and (min-width: 1025px) {
//   .store-list .entry-title {
//   	font-size: 1.1vw;
//   }
// }

.store-list .entry-title {
	@include desktop {
		font-size: 1.1vw;
		line-height: 25px;
	}
	@include tablet {
		font-size: 3.0vw;
		line-height: 25px;
	}
	@include mobile {
		font-size: 6vw;
	}
}



//  .active {
// 	display: block;
// 	background-color: red;
// 	position: absolute;
// 	left: 0;
// 	transform: translateX(-100%);
// 	@extend %back-button;
// }





