/*	==========================================================================
		THROBBER
	==========================================================================	*/

@-webkit-keyframes 'loadbars' {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}

.throbber{
	display: none;
	position: absolute;
	z-index: 3;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -30px;
	width: 30px;
	height: 60px;
	list-style: none;

	li{
		float: right;
		width: 3px;
		height: 10px;
		margin-right: 5px;
		background-color: #FFFFFF;
		
		&:first-child{
			@include animation (loadbars 0.9s cubic-bezier(0.645,0.045,0.355,1) infinite 0s);
		}
		&:nth-child(2){
			@include animation (loadbars 0.9s ease-in-out infinite -0.2s);
		}
		&:nth-child(3){
			@include animation (loadbars 0.9s ease-in-out infinite -0.4s);
		}
	}

	.ie & {
		width: 50px;
		height: 50px;
		margin-top: -25px;
		background: url(../images/ajax-loader-white.gif);

		li {
			display: none;
		}
	}
	.ms_banner & {
		right: auto;
		left:25%;
	}
}

@include keyframes ('loadbars') {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}
