/* ==========================================================================
    MIXINS
   ========================================================================== */

// Device Breakpoints
$desktop: 1220px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;

// breakpoint mixins

/* Media Queries -------------------------------*/


// Small Desktop
@mixin desktop {
  @media only screen
  and (max-width : $desktop) {
    @content
  }
}

// Tablet (portrait and landscape)
@mixin tablet {
  @media only screen
  and (max-width : $tabletLandscape) {
    @content
  }
}
// Tablet (portrait)
@mixin tablet-portrait {
  @media only screen
  and (max-width : $tabletPortrait) {
    @content
  }
}
// Mobile (portrait and landscape)
@mixin mobile {
  @media only screen
  and (max-width : 480px) {
    @content
  }
}
// Mobile (portrait)
@mixin mobile-portrait {
  @media only screen
  and (max-width : 320px) {
    @content
  }
}
// Grid
@mixin cols-6 {
  @media (max-width: 2930px) {
    @content
  }
}
@mixin cols-5 {
  @media (max-width: 2320px) {
    @content
  }
}
@mixin cols-4 {
  @media (max-width: 1970px) {
    @content
  }
}
// This media query covers viewports down to
// iPad landscape (1024+)
@mixin cols-3 {
  @media (max-width: 1620px) {
    @content
  }
}
// This media query covers viewports between
// iPad portrait to just below landscape (768-1023)
@mixin cols-2 {
  @media (max-width: $tabletLandscape - 1) { // 1 less than ipad landscape
    @content
  }
}
// This media query covers viewports smaller than
// iPad portrait (<768)
@mixin cols-1 {
  @media (max-width: $tabletPortrait - 1) { // 1 less than ipad portrait
    @content
  }
}


@mixin aspect-ratio($w, $h) {
  $slope: $h / $w;
  $height: $h - $w * $slope;

  height: $height;
  padding-top: $slope * 100%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($def) {
  -webkit-animation: $def; /* Safari 4+ */
  -moz-animation:    $def; /* Fx 5+ */
  -o-animation:      $def; /* Opera 12+ */
  animation:         $def; /* IE 10+ */
}

// add a slash before your item
@mixin slash($_height: 10px, $_margin: 5px, $_width: 4px, $_skew: -20deg) {
    &:before {
        content: ' ';
        width: $_width;
        height: $_height;
        background-color: $color_slash;
        display: inline-block;
        margin-right: $_margin;
        @include transform(skewX($_skew));
        .rtl & {
            margin-left: $_margin;
            margin-right: 0px;
        }
    }
}

// add an arrow after your item
@mixin arrow($position: 'down', $_height: 6px, $_width: 8px, $_color: black) {
    &:after {
        content: " ";
        display: inline-block;
        width: 0px;
        height: 0px;
        border-style: solid;
        margin-bottom: $_height / 2;
        @if $position == 'down' {
          border-width: $_height $_width / 2 0 $_width / 2;
          border-color: $_color transparent transparent transparent;
        } @else if $position == 'up' {
          border-width: 0 $_width / 2 $_height $_width / 2;
          border-color: transparent transparent $_color transparent;
        } @else if $position == 'left' {
          border-width: $_height / 2 $_width $_height / 2 0;
          border-color: transparent $_color transparent transparent;
        } @else if $position == 'right' {
          border-width: $_height / 2 0 $_height / 2 $_width;
          border-color: transparent transparent transparent $_color;
        } @else if $position == 'top-left' {
          border-width: $_width $_height 0 0;
          border-color: $_color transparent transparent transparent;
        } @else if $position == 'top-right' {
          border-width: $_width 0 $_height;
          border-color: $_color transparent transparent transparent;
        } @else if $position == 'bottom-left' {
          border-width: 0 $_height $_width 0;
          border-color: transparent transparent $_color transparent;
        } @else if $position == 'bottom-right' {
          border-width: 0 0 $_width $_height;
          border-color: transparent transparent $_color transparent;
        }
    }
}

// background gradients that work in IE
@mixin background-image-with-ms($image) {
    @include background-image($image); // Compass default version, for everything but IE 10.
    background-image: -ms-#{$image}; // Vendor prefixes for IE 10.
}

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// util classes
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gridHover {
	.entry-thumbnail {
		img {
			@include transform( translateX(-50%) scale(1.1, 1.1) );
		}
	}

	.content-wrapper:after {
		opacity: .55;
	}

	.button-container,
	.read-more {
		// bottom: 30px;
		bottom: 5%;
	}
}

%back-button {
  @extend .close;
  width: $siteHeaderWidth;
  height: 160px;
  padding: 50px 0 40px;
  border: 0;
  font-size: 10px;
  background: none;
  position: fixed;
  left: 0;
  top: 0;
  &:before {
    content: '';
    display: block;
    width: 100px;
    margin: 0 auto;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    .share-open & {
      display: none;
    }
  }
  &:after {
    content: 'Back';
    display: block;
    margin-top: 9px;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
  }

  span {
    @extend .lines;
    text-indent: -9999px;
  }
}

