/* ==========================================================================
    VARS
   ========================================================================== */

// Global
$siteHeaderWidth: 200px;
$sidebarWidth: 450px;
$siteHeaderWidthMobile: 65px;

// dimensions
$padding: 40px;
$expandedMenuWidth: 240px;

// fonts
$themeFontRegular: 'DINCondRegular';
$themeFontBold: 'DINCondBold';

// colors
$bgSiteColor: #fff;
$bodyCopyColor: #242128;
$linkColor: #aea7bc;
$homeCopy: #fff;

$bgSectionColor: #f4f4f4;
$bgDarkSectionColor: #151718;
$bgPlayerBarColor: #000000;
$borderColor: #bdc2ca;
$shopBorder: #EDE8E8;

$transitionSpeed: 0.25s;
