/* ==========================================================================
    FEATURED HERO
   ========================================================================== */

.featured-hero {
	text-align: center;
	margin-bottom: $padding;
}