/* ==========================================================================
    FEATURED ROW
   ========================================================================== */

.featured-row {
	display: inline-block;
}

.featured-item {
	float: left;
	width: 25%;
	padding: 0 $padding/2;
}

.featured-item-category {
	font-size: 1.4em;
}

.featured-item-title {
	font-size: 1.8em;
	margin: 10px 0;
}

.featured-item-button {
	display: block;
	margin-top: 10px;
	text-align: center;
	padding: 10px 0;
	background-color: #ff0000;
	color: #fff;
	font-size: 1.4em;
}